@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  font-family: BoxedRound;
  text-shadow: 1px 1px #000000;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: BoxedRound;
  src: url('./BoxedRound.ttf');
}

#app {
  font-family: BoxedRound;
  color: white;
}

.chat-window {
  position: absolute;
  top: 3.5%;
  left: 1.5%;
  width: 28vw;
  height: 22vh;
  max-width: 40vw;
  min-width: 20vw;
  min-height: 15vh;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-animation-duration: 2s;
  overflow: hidden;
}

.messagebox {
  font-size: 0.85vw !important;
  padding: 0px;
  margin-bottom: 0px;
  width: fit-content;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: fadeInBottom;
}

.message {
  font-size: 0.85vw !important;
  margin-left: 0.3vw;
  color: white;
}

.chat-messages {
  font-size: 0.85vw !important;
  font-family: BoxedRound;
  position: relative;
  height: 95%;
  margin: 0.2%;
  text-shadow: 0.05vw 0.05vw black;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 20vh;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.chat-messages::-webkit-scrollbar {
  display: none !important; /
}


* {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

*::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

.chat-window *::-webkit-scrollbar {
  display: none !important;
}

.chat-window * {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

.chat-input {
  font-family: BoxedRound;
  font-size: 0.9vw;
  position: absolute;
  border-radius: 0.4vw;
  top: 24vh;
  left: calc(1.3% - 11px);
  width: 28vw;
  max-width: 40vw;
  box-sizing: border-box;
  padding: 0px;
}

.prefix {
  font-family: BoxedRound;
  font-weight: bold;
  font-size: 0.9vw;
  position: absolute;
  margin-top: 0.7%;
  margin-left: 0.9%;
  left: 0.4%;
}

.prefix::before {
  content: "";
  display: inline-block;
  width: 1.1vw;
  height: 1.1vw;
  margin-right: 0.3vw;
  margin-left: 0.8vw;
  position: relative;
  top: -0.15vw;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 24 24"><path fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="m10 17l5-5m0 0l-5-5"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}

@-webkit-keyframes fadein {
  from { opacity: 1; }
  to   { opacity: 1; }
}

@keyframes fadeInBottom {
  from {
    opacity: 1;
    transform: translateY(100%);
  }
  to { opacity: 1 }
}

textarea {
  font-family: 'Poppins', sans-serif; 
  font-size: 0.85vw;
  box-sizing: border-box;
  padding: 1%;
  padding-left: 1.6vw;
  color: white;
  text-shadow: 0.05vw 0.05vw 0.05vw black;
  background-color: rgba(10, 10, 10, 0.5);
  width: 80%;
  border-width: 0;
  height: 1.8vw;
  max-height: 3.5vw;
  resize: none;
  border-radius: 0.4vw;
  transition: background-color 0.2s ease;
  margin-left: 3.0%;
}




textarea:focus {
  background-color: rgba(10, 10, 10, 0.5);
  outline: none;
  color: white;
}

.multiline {
  font-family: BoxedRound;
  white-space: pre-line;
}

.suggestions {
  font-family: BoxedRound;
  list-style-type: none;
  padding: 0;
  font-size: 0.7vw !important;
  box-sizing: border-box;
  color: white;
  background: rgba(20, 20, 20, 0.85);
  border: 0.05vw solid rgba(60, 60, 60, 0.5);
  border-radius: 0.4vw;
  overflow: hidden;
  width: 80%;
  margin-top: 0.15vw;
  margin-left: 3.0%;
  box-shadow: 0 0.1vw 0.4vw rgba(0, 0, 0, 0.6);
}

.suggestion {
  margin: 0;
  padding: 0.35vw 0.55vw;
  border-bottom: 0.05vw solid rgba(80, 80, 80, 0.3);
  transition: background-color 0.2s ease;
}

.suggestion:first-child {
  border-top-left-radius: 0.4vw;
  border-top-right-radius: 0.4vw;
}

.suggestion:last-child {
  border-bottom: none;
  border-bottom-left-radius: 0.4vw;
  border-bottom-right-radius: 0.4vw;
}

.suggestion:hover {
  background: rgba(50, 50, 50, 0.7);
}

.suggestion p {
  margin: 0;
  font-weight: bold;
  color: #ffffff;
  font-size: 0.65vw;
}

.suggestion .help {
  color: #a0a0a0;
  font-size: 0.55vw;
  margin-top: 0.05vw;
  display: block;
}

.hidden {
  display: none;
}

/* Fade animation for message hiding */
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}
